body{
    margin:0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: linear-gradient(90deg, #4C90B3, #9159B2);
    color: white;
}

.header-container{
    display:flex;
    width: 700px;
    justify-self: center;
    justify-content: center;
    align-items: center;
}

header img{
    width: 250px;
}

.header-divisor{
    background-color:white;
    height: 150px;
    width: 2px;
}

.header-area{
    margin-left: 45px;
}

.header-area a{
    display: inline-block;
    padding: 7px;
    border: 1px solid white;
    margin-right: 10px;
    margin-top: 15px;
    text-decoration: none;
}

.header-area a:visited{
    color:white;
}